[server]
http_port = 3000

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}

[users]
allow_sign_up = false

[auth.anonymous]
enabled = false

{% if (tempo_enable | default(false) | bool) and (grafana_tracing_enabled | default(false) | bool) %}
[tracing.opentelemetry.otlp]
address = {{ hostvars[groups['tempo'][0]]['ansible_host'] }}:{{ tempo_otlp_grpc_port }}
{% endif %}

[paths]
data = {{ grafana_data_dir }}
logs = /var/log/grafana
plugins = /var/lib/grafana/plugins

[grafana_com]
url = https://repo-devops.test.ir/grafana.com
api_url = https://repo-devops.test.ir/grafana.com/api

